<div class="settings-layout-with-navbar-container" [ngClass]="{'column': widthWithoutSidebar <= 800}">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar" [ngClass]="{'column__order column__height column__row': widthWithoutSidebar <= 800}">
    <span class="nav-link" [routerLink]="['/admin/settings']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active" >Main</span>
    <span class="nav-link" [routerLink]="['/admin/settings/edit']" routerLinkActive="router-link-active" >Edit</span>
    <span class="nav-link" [routerLink]="['/admin/settings/edit']" routerLinkActive="router-link-active" >Edit Profile</span>
  </div>
</div>
