.home-container {
  max-width: 960px;
  margin: 2rem auto;

  @media (max-width: 1000px) {
    padding: 0 2rem;
  }
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  text-align: center;
}

.category-title {
  text-transform: uppercase;
  color: gray;
}

.category-block {
  margin: 2rem 0;
}

.category-title {
  transition: all 0.3s;
  cursor: pointer;
  &:focus {
    outline: 0;
  }

  &:hover {
    color: orange;
  }
}