.article-container {
  max-width: 760px;
  margin: 0 auto;
  margin-top: 2rem;
  // background: orangered;
}

.loading-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}