<div class="article-container" *ngIf="article; else spinnerRef">
  <div class="category">Category: <span [routerLink]="['/term/category', article.category]" class="helper-highlight">{{ article.category }}</span></div>
  <div class="title">{{ article.title }}</div>
  <div class="author">Author: <span [routerLink]="['/term/author', article.author]" class="helper-highlight">{{ article.author }}</span></div>
  <div class="publisher">
    <div class="publisher__image">
      <img [src]="article.publisher.photo" [alt]="article.publisher.name" class="publisher-img">
    </div>
    <div class="publisher__content">
      <div class="name">Publisher: <span [routerLink]="['/users', article.publisher.id]" class="helper-highlight">{{ article.publisher.name }}</span></div>
      <div class="date">{{ article.createdAt | date }}</div>
    </div>
  </div>
  <div class="priority">Priority: <span>{{ article.priority }}</span></div>
  <div class="article-image">
    <img [src]="article.imageUrl" alt="" class="artile-img">
  </div>
  <div class="content" [ngClass]="{'large-text': largeText}">{{ article.content }}</div>
  <div class="fixed-btn">
    <button *ngIf="!largeText" (click)="largeText = true" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="largeText" (click)="largeText = false" mat-mini-fab color="primary">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <site-comments></site-comments>
</div>

<ng-template #spinnerRef>
  <div class="loading-container">
    <shared-spinner></shared-spinner>
  </div>
</ng-template>
