<div class="article-container" *ngIf="article; else spinnerRef">
  <button mat-button (click)="back()">
    <mat-icon>chevron_left</mat-icon>
      <span>Go Back</span>
  </button>
  <div class="category" #myTopElement>Category: <span [routerLink]="['/term/category', article.category]" class="helper-highlight">{{ article.category }}</span></div>
  <div class="title">{{ article.title }}</div>
  <mat-divider></mat-divider>
  <div class="like-wrap" *ngIf="isLikeMe !== undefined && countComments !== undefined">
    <div class="like" *ngIf="isLikeMe !== undefined">
      <button *ngIf="isLikeMe !== undefined" (click)="likesArticle()" mat-icon-button>
        <mat-icon *ngIf="isLikeMe === false" class="favorite-border">favorite_border</mat-icon>
        <mat-icon *ngIf="isLikeMe === true" color="warn">favorite</mat-icon>
      </button>
      <span class="count">{{countLikes}}</span>
    </div>
    <div class="comment" (click)="element.scrollIntoView({ behavior: 'smooth', block: 'center' })">
      <mat-icon class="comment__icon">chat_bubble_outline</mat-icon>
      <span class="comment__count">{{countComments}}</span>
    </div>
    <div class="view">
      <button class="view__icon" disabled mat-icon-button>
        <mat-icon>menu_book</mat-icon>
        <!-- <mat-icon>visibility</mat-icon> -->
      </button>
      <span class="view__count" *ngIf="article.count">{{article.count}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="author">Author: <span [routerLink]="['/term/author', article.author]" class="helper-highlight">{{ article.author }}</span></div>
  <div class="publisher">
    <div class="publisher__image">
      <img [src]="article.publisher.photo" [alt]="article.publisher.name" class="publisher-img">
    </div>
    <div class="publisher__content">
      <div class="name">Publisher: <span [routerLink]="['/users', article.publisher.id]" class="helper-highlight">{{ article.publisher.name }}</span></div>
      <div class="date">{{ article.createdAt | date }}</div>
    </div>
  </div>
  <div class="priority">Priority: <span>{{ article.priority }}</span></div>
  <div class="article-image">
    <img [src]="article.imageUrl" alt="" class="artile-img">
  </div>
  <div class="content" [ngClass]="{'large-text': largeText}">{{ article.content }}</div>
  <div class="fixed-btn">
    <button *ngIf="!largeText" (click)="largeText = true" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="largeText" (click)="largeText = false" mat-mini-fab color="primary">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
<div id="comments" #element>
  <site-comments (onGetCountComments)="getCountComments($event)"></site-comments>
</div>

<ng-template #spinnerRef>
  <div class="loading-container">
    <shared-spinner></shared-spinner>
  </div>
</ng-template>


<!-- <div (click)="myTopElement.scrollIntoView({ behavior: 'smooth', block: 'start' })">>fff</div> -->
<!-- <div class="other-content">
  Other content
  <button (click)="element.scrollIntoView({ behavior: 'smooth', block: 'center' })">
    Click to scroll
  </button>
</div> -->
