.sign-in-container {
  min-height: calc(100vh - 64px);
  // transform: translate(-50%, -50%);
  // position: relative;
  
}

.spacing {
  height: 3rem;
}

.sign-in {
  width: 600px;
  min-height: 400px;
  background: whitesmoke;
  margin: 0 auto;
  padding: 2rem;
  // position: absolute;
  // top: 50%;
  // right: 50%;
  // transform: translate(50%, -50%);
}

.title {
  text-align: center;
}

button {
  width: 100%;
}

mat-form-field {
  width: 100%;
}