<ng-container *ngIf="filterData">
  <h1 mat-dialog-title>Create Article</h1>
  <form class="form" [formGroup]="createArticleForm" (ngSubmit)="submit()">
    <div mat-dialog-content>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="createArticleForm.get('title').invalid && createArticleForm.get('title').touched">
          <span *ngIf="createArticleForm.get('title').errors.maxlength">title should be less than {{createArticleForm.get('title').errors.maxlength.requiredLength}} characters, you enter {{createArticleForm.get('title').errors.maxlength.actualLength}}</span>
          <span *ngIf="createArticleForm.get('title').errors.minlength">title should be greather than {{createArticleForm.get('title').errors.minlength.requiredLength}} characters, you enter {{createArticleForm.get('title').errors.minlength.actualLength}}</span>
          <span *ngIf="createArticleForm.get('title').errors.required">title is required</span>
        </mat-error>
      </mat-form-field>
      <div class="author-container">
        <mat-form-field class="full-width" class="author-container__field" appearance="outline" *ngIf="isSelectAuthor">
          <mat-label>Select Author</mat-label>
          <mat-select formControlName="author">
            <mat-option *ngFor="let author of filterData.authors" [value]="author">{{ author }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="author-container__field" appearance="outline" *ngIf="!isSelectAuthor">
          <mat-label>Enter New Author</mat-label>
          <input formControlName="author" matInput>
          <mat-error *ngIf="createArticleForm.get('author').invalid && createArticleForm.get('author').touched">
            <span *ngIf="createArticleForm.get('author').errors.maxlength">author should be less than {{createArticleForm.get('author').errors.maxlength.requiredLength}} characters, you enter {{createArticleForm.get('author').errors.maxlength.actualLength}}</span>
            <span *ngIf="createArticleForm.get('author').errors.minlength">author should be greather than {{createArticleForm.get('author').errors.minlength.requiredLength}} characters, you enter {{createArticleForm.get('author').errors.minlength.actualLength}}</span>
            <span *ngIf="createArticleForm.get('author').errors.required">author is required</span>
          </mat-error>
        </mat-form-field>
        <!-- <mat-button-toggle-group class="author-container__btn" name="fontStyle1" #group="pp" value="'new'" (change)="onValChange(group.value)">
          <mat-button-toggle (click)="changeIsSelectAuthor()" [value]="'new'">New Author</mat-button-toggle>
          <mat-button-toggle (click)="changeIsSelectAuthor()" [value]="'existing'">Existing Author</mat-button-toggle>
        </mat-button-toggle-group> -->

        <mat-button-toggle-group class="author-container__btn" #group="matButtonToggleGroup" [value]="isSelectAuthor" (change)="isSelectAuthorChange(group.value)">
          <mat-button-toggle [value]="true">
              <span>Existing Author</span>
          </mat-button-toggle>
          <mat-button-toggle [value]="false">
              <span>New Author</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="category-container">
        <mat-form-field class="full-width" class="category-container__field" appearance="outline" *ngIf="isSelectCategory">
          <mat-label>Select Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of filterData.categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="category-container__field" appearance="outline" *ngIf="!isSelectCategory">
          <mat-label>Enter New Category</mat-label>
          <input formControlName="category" matInput>
          <mat-error *ngIf="createArticleForm.get('category').invalid && createArticleForm.get('category').touched">
            <span *ngIf="createArticleForm.get('category').errors.maxlength">category should be less than {{createArticleForm.get('category').errors.maxlength.requiredLength}} characters, you enter {{createArticleForm.get('category').errors.maxlength.actualLength}}</span>
            <span *ngIf="createArticleForm.get('category').errors.minlength">category should be greather than {{createArticleForm.get('category').errors.minlength.requiredLength}} characters, you enter {{createArticleForm.get('category').errors.minlength.actualLength}}</span>
            <span *ngIf="createArticleForm.get('category').errors.required">category is required</span>
          </mat-error>
        </mat-form-field>
        <mat-button-toggle-group class="category-container__btn" #group2="matButtonToggleGroup" [value]="isSelectCategory" (change)="isSelectCategoryChange(group2.value)">
          <mat-button-toggle [value]="true">Existing Category</mat-button-toggle>
          <mat-button-toggle [value]="false">New Category</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your description</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="createArticleForm.get('description').invalid && createArticleForm.get('description').touched">
          <span *ngIf="createArticleForm.get('description').errors.maxlength">description should be less than {{createArticleForm.get('description').errors.maxlength.requiredLength}} characters, you enter {{createArticleForm.get('description').errors.maxlength.actualLength}}</span>
          <span *ngIf="createArticleForm.get('description').errors.minlength">description should be greather than {{createArticleForm.get('description').errors.minlength.requiredLength}} characters, you enter {{createArticleForm.get('description').errors.minlength.actualLength}}</span>
          <span *ngIf="createArticleForm.get('description').errors.required">description is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your content</mat-label>
        <textarea matInput  
          cdkTextareaAutosize
          cdkAutosizeMinRows=5
          cdkAutosizeMaxRows=15
          formControlName="content">
        </textarea>
        <mat-error *ngIf="createArticleForm.get('content').invalid && createArticleForm.get('content').touched">
          <span *ngIf="createArticleForm.get('content').errors.minlength">content should be greather than {{createArticleForm.get('content').errors.minlength.requiredLength}} characters, you enter {{createArticleForm.get('content').errors.minlength.actualLength}}</span>
          <span *ngIf="createArticleForm.get('content').errors.required">content is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select Priority</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let priority of filterData.priorities" [value]="priority">{{ priority }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your imageUrl</mat-label>
        <input matInput formControlName="imageUrl">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button color="primary" type="submit">Create</button>
      <button mat-stroked-button color="warn" (click)="onNoClick()" type="button">Cancel</button>
    </div>
  
  </form>
</ng-container>

<div class="loading-container" *ngIf="!filterData">
  <shared-spinner></shared-spinner>
</div>