<div class="settings-edit-container">
  <div class="title">Edit</div>
  <form class="form" [formGroup]="userForm" (ngSubmit)="submit()" *ngIf="userForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="userForm.get('name').invalid && userForm.get('name').touched">
        <span *ngIf="userForm.get('name').errors.maxlength">name should be less than {{userForm.get('name').errors.maxlength.requiredLength}} characters, you enter {{userForm.get('name').errors.maxlength.actualLength}}</span>
        <span *ngIf="userForm.get('name').errors.minlength">name should be greather than {{userForm.get('name').errors.minlength.requiredLength}} characters, you enter {{userForm.get('name').errors.minlength.actualLength}}</span>
        <span *ngIf="userForm.get('name').errors.required">name is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
        <span *ngIf="userForm.get('email').errors.maxlength">email should be less than {{userForm.get('email').errors.maxlength.requiredLength}} characters, you enter {{userForm.get('email').errors.maxlength.actualLength}}</span>
        <span *ngIf="userForm.get('email').errors.minlength">email should be greather than {{userForm.get('email').errors.minlength.requiredLength}} characters, you enter {{userForm.get('email').errors.minlength.actualLength}}</span>
        <span *ngIf="userForm.get('email').errors.required">email is required</span>
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter your photo</mat-label>
      <input matInput formControlName="photo">
      <mat-error *ngIf="userForm.get('photo').invalid && userForm.get('photo').touched">
        <span *ngIf="userForm.get('photo').errors.maxlength">photo should be less than {{userForm.get('photo').errors.maxlength.requiredLength}} characters, you enter {{userForm.get('photo').errors.maxlength.actualLength}}</span>
        <span *ngIf="userForm.get('photo').errors.minlength">photo should be greather than {{userForm.get('photo').errors.minlength.requiredLength}} characters, you enter {{userForm.get('photo').errors.minlength.actualLength}}</span>
        <span *ngIf="userForm.get('photo').errors.required">photo is required</span>
      </mat-error>
    </mat-form-field> -->
    <div>
      <button mat-stroked-button (click)="filePicker.click()" type="button">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview || userForm.get('photo').valid">
    <!-- <div class="image-preview" *ngIf="imagePreview !== '' || imagePreview || userForm.get('photo').valid"> -->
      <!-- <p *ngIf="imagePreview">{{imagePreview}}</p> -->
      <img [src]="imagePreview" [alt]="userForm.get('title')">
    </div>
    <button mat-stroked-button color="primary" type="submit">Edit</button>
  </form>
</div>

<pre *ngIf="userForm">{{userForm.value | json}}</pre>