.articles-container {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 2rem;
}

.loading-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-paginator {
  padding: 2rem 0;
  max-width: 860px;
  margin: 0 auto;
  background: inherit;
}

.paginator-container {
  background: whitesmoke;
  // width: 100%;
}