<div *ngIf="author" class="author">Author: {{ author }}</div>

<div class="articles-by-author-container" *ngIf="articles; else spinnerRef">
  <div class="articles">
    <ng-container *ngFor="let article of articles">
      <site-card [article]="article"></site-card>
    </ng-container>
  </div>
  <div class="authors">
    <site-filter [filterType]="'authors'"></site-filter>
  </div>
</div>

<div class="paginator-container">
  <mat-paginator 
    *ngIf="articles" 
    [length]="limit"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [pageIndex]="page - 1"
    (page)="pageChange($event)">
  </mat-paginator>
</div>

<ng-template #spinnerRef>
  <ng-template #spinnerRef>
    <div class="loading-container">
      <shared-spinner></shared-spinner>
    </div>
  </ng-template>
</ng-template>