.author {
  background: #efefef;
  height: 100px;
  font-size: 64px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

mat-paginator {
  max-width: 960px;
  padding: 2rem 0;
}

.articles-by-author-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.articles {
  flex: 4;
  padding-top: 2rem;
}

.authors {
  flex: 1;
  padding: 1rem;
  padding-top: 4rem;
  padding-left: 4rem;
  // background: palegoldenrod;
}

.loading-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-paginator {
  padding: 2rem 0;
  max-width: 860px;
  margin: 0 auto;
  background: inherit;
  // max-width: 960px;
}

.paginator-container {
  background: whitesmoke;
  
}