<div class="comment-create-container">
  <div class="left-side">
    <img [src]="user.photo" [alt]="user.name" class="photo">
  </div>
  <div class="right-side">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter your comment</mat-label>
      <textarea matInput  
        cdkTextareaAutosize
        cdkAutosizeMinRows=5
        cdkAutosizeMaxRows=15
        [(ngModel)]="comment"
      ></textarea>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="createComment()" type="button">Leave a comment</button>
  </div>
</div>
<!-- {{comment}}
{{articleId}} -->