<div class="publishers-container" *ngIf="publisher">
  <div class="publisher">
    <div class="publisher__left">
      <p class="name">{{ publisher.name }}</p>
      <p class="email">{{ publisher.email }}</p>
      <p class="count" *ngIf="allResults">Count: {{allResults}}</p>
    </div>
    <div class="publisher__right">
      <img [src]="publisher.photo" [alt]="publisher.name" class="publisher-image">
    </div>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="articles" *ngIf="articles">
  <ng-container *ngFor="let article of articles">
    <site-card [article]="article"></site-card>
  </ng-container>
  <ng-container *ngIf="allPages; else paginarorRef">
    <div class="paginator" *ngIf="allPages > 1">
      <div class="btn-container">
        <button mat-mini-fab color="primary" class="btn btn-arrow_left" (click)="prev()" [disabled]="+page === 1 || page === undefined">
          <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
        </button>
        <div class="number-page">{{ page }} of {{ allPages }}</div>
        <button mat-mini-fab color="primary" class="btn btn-arrow_right" (click)="next()" [disabled]="page >= allPages">
          <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #paginarorRef>
    <p class="not-articles">This Publisher Do Not Have Any Articles</p>
  </ng-template>
</div>