<div *ngIf="category" class="category">Category: {{ category }}</div>
<div class="article-by-category-container" *ngIf="!isLoading; else spinnerRef">
  <div class="articles">
    <ng-container *ngFor="let article of articles">
      <site-card [article]="article" [currentUser]="currentUser"></site-card>
    </ng-container>
  </div>
  <div class="categories">
    <site-filter [filterType]="'categories'"></site-filter>
  </div>
</div>
<div class="paginator-container">
  <mat-paginator 
    *ngIf="articles" 
    [length]="limit"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [pageIndex]="page - 1"
    (page)="pageChange($event)">
  </mat-paginator>

</div>
<ng-template #spinnerRef>
  <div class="loading-container">
    <shared-spinner></shared-spinner>
  </div>
</ng-template>
