.category {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  height: 100px;
  font-size: 64px;
  font-style: italic;
  font-weight: 200;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 44px;
  }
}

.article-by-category-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;

  @media (max-width: 1000px) {
    padding: 2rem;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.articles {
  flex: 4;
  padding-top: 2rem;

  @media (max-width: 800px) {
    order: 2;
    flex: unset;
    padding-top: 0.2rem;
  }
}

.categories {
  flex: 1;
  padding: 1rem;
  padding-top: 4rem;
  padding-left: 4rem;
  // background: palegoldenrod;

  @media (max-width: 800px) {
    order: 1;
    flex: unset;
    padding: 1rem;
    background: #efefef;
  }
}

.loading-container {
  width: 100%;
  height: calc(100vh - 164px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-paginator {
  padding: 2rem 0;
  max-width: 860px;
  margin: 0 auto;
  background: inherit;
}

.paginator-container {
  background: whitesmoke;
}