<div class="settings-change-password-container">
  <div class="title">Edit</div>

  <form [formGroup]="userPasswordForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="userPasswordForm.get('password').invalid && userPasswordForm.get('password').touched">
        <span *ngIf="userPasswordForm.get('password').errors.required">password is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="newPassword">
      <mat-error *ngIf="userPasswordForm.get('newPassword').invalid && userPasswordForm.get('newPassword').touched">
        <span *ngIf="userPasswordForm.get('newPassword').errors.maxlength">newPassword should be less than {{userPasswordForm.get('newPassword').errors.maxlength.requiredLength}} characters, you enter {{userPasswordForm.get('newPassword').errors.maxlength.actualLength}}</span>
        <span *ngIf="userPasswordForm.get('newPassword').errors.minlength">newPassword should be greather than {{userPasswordForm.get('newPassword').errors.minlength.requiredLength}} characters, you enter {{userPasswordForm.get('newPassword').errors.minlength.actualLength}}</span>
        <span *ngIf="userPasswordForm.get('newPassword').errors.required">newPassword is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password Confirm</mat-label>
      <input type="password" matInput formControlName="newPasswordConfirm">
      <mat-error *ngIf="userPasswordForm.get('newPasswordConfirm').invalid && userPasswordForm.get('newPasswordConfirm').touched">
        <span *ngIf="userPasswordForm.get('newPasswordConfirm').errors.notEqual">Password confirm do not match</span>
      </mat-error>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <span>{{errorMessage}}</span>
      <span class="close" (click)="errorMessage = undefined">×</span>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
      <span>{{successMessage}}</span>
      <span class="close" (click)="successMessage = undefined">×</span>
    </div>
    <button class="full-width" mat-raised-button color="primary">Submit</button>
  </form>
</div>
