<div class="article">
  <div [routerLink]="['/term/category', article.category]" class="category">{{ article.category }}</div>
  <div [routerLink]="['/articles', article.id]" class="title">{{ article.title }}</div>
  <div class="name-date">Post by <span class="helper-highlight" [routerLink]="['/users', article.publisher.id]">{{ article.publisher.name }}</span> on {{ article.createdAt | date }}. Author: <span class="helper-highlight" [routerLink]="['/term/author', article.author]">{{ article.author }}</span></div>
  <div class="article-content">
    <div class="article-content__left">
      <img class="image" [src]="article.imageUrl" alt="">
    </div>
    <div class="article-content__right">
      <div class="description">{{ article.description }}</div>
      <div [routerLink]="['/articles', article.id]" class="read-more">Read More</div>
    </div>
    <!-- <div class="description">{{ article.description }}</div> -->
  </div>

</div>

<!-- {{ article | json }} -->
