<div class="article">
  <div [routerLink]="['/articles', article.id]" class="category">{{ article.category }}</div>
  <div [routerLink]="['/articles', article.id]" class="title">{{ article.title }}</div>
  <div class="name-date">Post by John on {{ article.createdAt | date }}</div>
  <div class="article-content">
    <div class="article-content__left">
      <img class="image" [src]="article.imageUrl" alt="">
    </div>
    <div class="article-content__right">
      <div class="description">{{ article.description }}</div>
      <div [routerLink]="['/articles', article.id]" class="read-more">Read More</div>
    </div>
    <!-- <div class="description">{{ article.description }}</div> -->
  </div>

</div>

<!-- {{ article | json }} -->
