<div class="article">
  <div [routerLink]="['/term/category', article.category]" class="category">{{ article.category }}</div>
  <div [routerLink]="['/articles', article.id]" class="title">{{ article.title }}</div>
  <div class="name-date">Post by <span class="helper-highlight" [routerLink]="['/publishers', article.publisher.id]">{{ article.publisher.name }}</span> on {{ article.createdAt | date }}. Author: <span class="helper-highlight" [routerLink]="['/term/author', article.author]">{{ article.author }}</span></div>
  <div class="article-content">
    <div class="article-content__left">
      <img class="image" [src]="article.imageUrl" alt="">
    </div>
    <div class="article-content__right">
      <div class="description">{{ article.description }}</div>
      <div [routerLink]="['/articles', article.id]" class="read-more">Read More</div>
    </div>
  </div>

  <div class="action-wrap">
    <div class="like">
      <button *ngIf="currentUser" (click)="likesArticle()" mat-icon-button>
        <mat-icon *ngIf="article.likes.includes(currentUser._id) === false" class="favorite-border">favorite_border</mat-icon>
        <mat-icon *ngIf="article.likes.includes(currentUser._id) === true" color="warn">favorite</mat-icon>
      </button>
      <button *ngIf="!currentUser" [routerLink]="['/sign-in']"  mat-icon-button>99
        <mat-icon class="favorite-border">favorite_border</mat-icon>
      </button>
      <span class="count">{{article.likes ? article.likes.length : 0}}</span>
    </div>
    <div class="view">
      <button disabled mat-icon-button>
        <mat-icon>menu_book</mat-icon>
        <!-- <mat-icon>visibility</mat-icon> -->
      </button>
      <span>{{article.count ? article.count : 0}}</span>
    </div>
  </div>

</div>

<!-- <pre>{{ currentUser | json }}</pre>
<pre>{{ article | json }}</pre> -->
