.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #292b2c;
  height: 64px;
  margin: 0;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  color: beige;
}

.space-header {
  height: 64px;
}

.container {
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: center;

  &__left-side-menu-icon {
    display: none;
    margin-left: 1rem;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__left-side {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__right-side {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.space {
  margin-right: auto;
}

.router-link-active {
  color: rebeccapurple;

  &:hover {
    color: rgb(120, 61, 180)!important;
  }
}

.logo {
  font-weight: 700;
  line-height: 1.6;
  margin: 15px 0;
  margin-right: 30px;
  padding: 10px 15px;
  opacity: .8;
  font-size: 16px;
}
.nav-link {
  line-height: 1.6;
  margin: 15px 0;
  padding: 10px 15px;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  &:focus {
    outline:0;
  }

  @media (max-width: 576px) { 
      font-size: 10px;
      margin: 15px 0;
  }

  &:hover {
    color: #ebd7b4;
    cursor: pointer;
  }

}

.user-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-container {
  margin-left: 2rem;
  padding: 0 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  &__image {
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  &__name {
    display: inline-block;
    font-weight: 300;
    margin-right: 20px;
  }

  transition: all 0.3s;
  cursor: pointer;
  
  &:hover {
    background: #333536;
  }
}

// mat-drawer-content {
//   // background: gray;
// }

.sidebar-container {
  min-height: 100vh;
}

mat-drawer {
  position: fixed;
  top: 0;
  left: 0;
}

mat-nav-list {
  width: 200px;
}

mat-drawer-content {
  position: relative;
  margin: 0;
}
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }

