<mat-drawer-container class="sidebar-container" (backdropClick)="isOpenSideBar = false" (resized)="onResized($event)">
  <mat-drawer [mode]="currentWidth <= 768 ? 'over' : 'side'"[opened]="isOpenSideBar">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/admin']">Publishers</a>
      <a mat-list-item [routerLink]="['/admin/articles']">Articles</a>
      <a mat-list-item [routerLink]="['/admin/settings']">Settings</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Header -->
    <div class="navbar" (resized)="onResizedWithoutSidebar($event)">
      <div class="container">
        <div class="container__left-side-menu-icon">
          <button mat-icon-button  (click)="isOpenSideBar = !isOpenSideBar"><mat-icon>menu</mat-icon></button>
        </div>
        <!-- <div class="container__left-side">
          <span class="logo" [routerLink]="['/admin']">Admin Panel</span>
        </div> -->
        <div class="space"></div>
        <div class="container__right-side">
          <span class="nav-link">{{currentWidth}}</span>
          <span class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Site Page</span>
          <div class="profile-container" [matMenuTriggerFor]="menu">
            <span *ngIf="user" class="profile-container__name">{{ user.name.split(' ')[0] }}</span>
            <span *ngIf="user" class="profile-container__image">
              <img [src]="user.photo" [alt]="user.name" class="user-photo">
            </span>
            <span *ngIf="user" class="profile-container__dropdown">
              <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
            </span>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <!-- ------ -->
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>

